.modalComments{
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}
.modalCommentsItem{
  display: flex;
}

.modalCommentsImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.modalCommentsNome{
  font-weight: 600;
}

.modalCommentsComentario{
  margin-top: 5px;
  margin-bottom: 0;
}
.modalCommentsResponder{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: #191338;
  text-transform:capitalize;
}

.modalCommentsComentarioBox{
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.modalCommentsComentarioButton{
  margin-left: 15px;
  background-color: transparent;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #3498db;
  color: #191338;
  padding: 10px;
}